.leaflet-popup-content-wrapper, .leaflet-popup-tip {

  /* background-color: rgba(0, 0, 0, 1);
   */
  background:blue;
  border-radius: 100px;
  /* margin: 100px; */
}

.canvas {
  border-width: 10px;
  border-color: black;
}
