#container {
  height: 111px;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: flex;
  margin: 0 50%;
}

#container > * {
  transition: background-color .2s;
  position: absolute;
  border-radius: 50%;
}


#increment {
}

#increment:hover {
  /* background-color: #16697a; */
}


.decrement {
  border-radius: 50%;
}

.empty {
  top: 50px;
  border-radius: 50%;
}
