:root {
  --base-z: 1000;
  /* transform-origin: 50%, 50%;
  transition: all 1s; */
  color: rgb(70, 70, 85);
  text-align: center;
}



.helpContainer {
  position: fixed;
  justify-content: center;
  overflow: hidden;
  z-index: calc(var(--base-z) + 1);
  top: 10vh;
  left: calc((100vw - 400px) / 2);
  width: 400px;
  height: 80vh;
  background-color: rgb(255, 255, 255, .8);
  backdrop-filter: blur(10px);
  border-radius: 70px;
  border: 2px solid rgb(122, 125, 125);
  transition: all 1s ease-out;
}

.helpContainerOpening {
  /* opacity: 1; */
  animation: 1s 1 forwards enterAnimation;
}

.helpContainerClosing {
  /* opacity: 0; */
  animation: 1s 1 forwards exitAnimation;
  /* animation: 0s linear 1s forwards running oneSecond; */
}

#helpContent {
  height: 100%;
  width: 110%;
  margin-right: -5%;
  margin-left: -5%;
  overflow-y: auto;
}


h1 {
  font-size: 3em;
}

a:link {
 color: rgb(22, 105, 122);
}

a:visited {
  color: rgb(110, 184, 173);
}

p {
  font-size: 1.4em;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 1vh;
}

.red {
 color: rgb(219, 80, 74);
}

.increment {
 color:  rgb(22, 105, 122);
}

.blues {
  background: linear-gradient(to right, rgb(22, 105, 122), rgb(134,216,154));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes enterAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes exitAnimation {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
