.mapContainer {
  display: 'flex';
  height: 'calc(100vh - 100px)';
  width: 'calc(100vw - 100px)';
  justify-content: 'center';
  align-items: 'center';
  border-radius:'30px';
  overflow: 'hidden';
  -webkit-mask-image: '-webkit-radial-gradient(white, black)';
}
